<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="./style.css">
</head>
<body>
    <form class="form-class" id="frm"  method="post" action="/login" >
        <h3>Login page</h3>
        <input type="email" name="mail" id="mail"  placeholder="enter your email id">
         <input type="password" name="password" id="passw"  placeholder="enter your password">
         <input type="submit" value="submit" class="submit_btn" >
    </form>
</body>
</html>